
<head>
  <meta charset="utf-8"/>
  <title>{{ page.title }}</title>
  <link href="/wire-logic/favicon.ico" rel="shortcut icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
  <!-- Google tag (gtag.js)-->
  <script async="async" src="https://www.googletagmanager.com/gtag/js?id=G-NYF9VF9B0R"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-NYF9VF9B0R');
    
  </script>
  <!-- стили:-->
  <link class="ui" href="/wire-logic/dist/fomantic-ui/2.9.2/semantic.min.css" rel="stylesheet" type="text/css"/>
  <!-- скрипты:-->
  <script src="/wire-logic/dist/jquery/3.6.3/jquery.min.js"></script>
  <script src="/wire-logic/dist/fomantic-ui/2.9.2/semantic.min.js"></script>
  <style type="text/css">.canvas      { background-color: black; }</style>
</head>